{% extends 'base2.html' %}
{% load i18n crispy_forms_tags %}

{% block content %}
    <div class="row ofertas">
    <h2>Confirmar Transacci&oacute;n</h2>
        <h3>Resumen de la compra</h3>
        <p>Estimado cliente, favor verificar su información este correcta, una vez que presione el botón de confirmar su transacción se hara efectiva.</p>

        <table class="table">
            <tr>
                <td><strong>Nombre Completo</strong></td>
                <td>{{ form.fullname.value }}</td>
            </tr>
            <tr>
                <td><strong>Total de la compra </strong></td>
                <td>Lps. {{ form.amount.value }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.card_type.value }} {{ form.card_number.value }}</td>
            </tr>
        </table>

        <form method="post" action="{{ form.helper.form_action }}">
	        {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
            <input type="hidden" name="address1" value="{{ form.address1.value }}"/>
	        <div class="form-actions">

                <input type="submit" name="submit" value="Confirmar" class="btn btn-primary" id="submit-id-submit"/>
            </div>
        </form>
    </div>
{% endblock %}
