{% extends 'base.html' %}
{% load i18n crispy_forms_tags  %}

{% block content %}
    <div class="row ofertas">
    <h2>{% trans "Payment" %}</h2>
    {% crispy form form.helper %}
    </div>
{% endblock %}
