{% extends 'base2.html' %}
{% load i18n crispy_forms_tags %}

{% block title_slider %}
    {% include 'menutop.html' %}
{% endblock %}

{% block content %}
    <div class="row ofertas">
    <h2>Pago</h2>
        {% if aprobado %}
            <h3><a href="{{ order.get_absolute_url }}">Ver detalles de su compra</a></h3>
            <p>Gracias por realizar su compra con nosotros, nos pondremos en contacto con usted</p>
        {% else %}
        <p>Su transacción fue <strong>RECHAZADA</strong>, favor revisar los datos ingresados o comuniquese con su banco emisor</p>
        {% endif %}
    </div>
{% endblock %}
